doctype html
html
   head
      title = "Moving Background Circle"
   body
      p.greetings#people This is a moving circle plugin
      canvas#loiter please use another browser

   script
      include ../public/index.js
      include ../run.js